body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@page {
    size: A4;
    margin: 4% 2% 2% 2%;
}

.texto-branco{
    color: #F7F7FF;
}

.texto-preto{
    color: #040403;
}

.texto-azul{
    color: #003049;
}

.texto-vermelho{
    color: #780000;
}

.col-40{
    display: inline;
    margin: 0%;
    width: 40%;    
}

.col-50{
    display: inline;
    margin: 0%;
    width: 50%;    
}

/* CABEÇALHO */
.header{
    display: block;
    margin: 0% 2% 2% 2%;
    width: 96%;
    text-align: center;
}

.logo{
    display: block;
    vertical-align: middle;
    width: 100%;
}

.logo-clientes img{
    display: inline-block;
    height: 60pt;
    width: auto;
    margin-right: 1%;
}

.logo-clientes-span{
    display: inline-block;
    vertical-align: middle;
    font-size: 28pt;
    font-weight: bold;
    line-height: 120%;
    text-align: left;
}

.titulo-clientes{
    display: block;
    margin: 5% 0% 5% 0%;
}

.titulo-clientes h1{
    font-size: 3.5vw;
    font-weight: bold;
    line-height: 50%;
    margin: 0px;
}

.pg-sem-titulo{
    margin-bottom: 6%;
}

.quebra-pag{
    page-break-before: always;
} 

/* CONTEUDO PRINCIPAL */
.main{
    display: block;
    margin: auto 2% auto 2%;
    width: 96%;
}

.linha-clientes{
    display: inline-block;
    margin: 0%;
}

.legenda-m10{
    width: auto;
    margin: -0.5% 2% 0% 2%;
    padding: 0% 1%;
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
}

.sessao-clientes{
    margin: auto 1% 4% 1%;
    padding: 3% 2% 0% 2%;
    border: 1.5pt solid #003049;
    border-radius: 10pt;
}

.sessao-label{
    display: inline-block;
    font-size: 12pt;
    font-weight: bold;
    line-height: 150%;
    margin: 0% 1% 0% 0%;
}

.sessao-span{
    display: inline-block;
    font-size: 12pt;
    font-weight: normal;
    line-height: 150%;
    margin: 0%;
}

.sessao-hr{
    border-top: 1% solid #003049;
    margin: 0% 0% 2% 0%;
}

/* RODAPÉ */
.footer{
    position: absolute;
    bottom: 0%;
    width: 96%;
    margin: 1% auto;
}

.footer hr{
    display: block;
    border-top: 1.5% solid #003049;
    padding: 0% 1%;
    margin: auto 1% auto 1%;
}

.data-hora{
    display: block;
    margin-top: 1%;
    text-align: center;
}

.data-hora span{
    font-size: 12pt;
}